/* src/pages/Calendario.css */

/* Garante que o calendário ocupe a altura disponível */
.card .fc {
    height: 78vh;
}

/* Ajustes finos nos eventos do calendário */
.fc-event {
    border: none !important;
    padding: 2px 5px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}

@media (max-width: 992px) {
    .card .fc {
        height: auto; /* Altura automática em telas menores */
    }
}